.hero{
    .rightImg{
        margin-top: -45px;
    }
    
}

.accordList{
    li{
        cursor: pointer;
    }
    .active{
        color: rgb(249 115 22);
        &::before{
            width: 100%;
        }
    }
}



.todayDealSwiper{
    .swiper-wrapper{
        padding-bottom: 55px;
    }

    .swiper-pagination{
        & > .swiper-pagination-bullet{
            &.swiper-pagination-bullet-active{
                background-color: #000;
                opacity: .75;
            }
        }
    }
}